{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}RU Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'RUempty/images/favicon.png' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>-->
        <link href="{% static 'RUempty/css/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>

  <body>
    <div class="container">

{#        <a href="/static">#}
        <a href="/">
            <header class="subhead">
                <h1 id="titleHeader">
                    <span class="red"> RU</span>Empty
                </h1>
            </header>
        </a>

        {% block content %}{% endblock %}

        <footer>
            Inspired by Jason Davis, Aedan Dispenza, and Sam Goldfield's <a href="https://github.com/adispen/ruEmpty">ruEmpty</a>.
        </footer>
              

    </div> <!-- /container -->


  </body>
  <!--<script type="text/javascript" src="../static/RUempty/js/empty.js"></script>-->
</html>

